




body {
    margin: 100px;
    color: #afabc4;
    background: #faf8fb;


    font: 14px/1.5 tahoma, arial, "黑体", "\5b8b\4f53", sans-serif;
}
*,
:after,
:before {
    box-sizing: border-box;
}
.clearfix:after,
.clearfix:before {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
    display: block;
}
a {
    color: inherit;
    text-decoration: none;
}

.login-wrap {
    width: 100%;
    margin: auto;
    max-width: 525px;
    min-height: 650px;
    position: relative;

    background-size: 200%;
    box-shadow: 0 12px 15px 0 rgba(65, 40, 111, 0.24),
    0 17px 60px 0 rgba(65,46,111, 0.19);
}
.login-html {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 90px 70px 50px 70px;


}
.login-html .sign-in-htm,
.login-html .sign-up-htm {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: rotateX(180deg);
    backface-visibility: hidden;
    transition: all 0.5s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check {
    display: none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button {
    text-transform: uppercase;

}
.login-html .tab {
    font-size: 18px;
    padding-bottom: 5px;
    margin: 0 20px 30px 0;
    display: inline-block;
    border-bottom: 3px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab {

    color: #e36cba;
    border-color: #e36cba;
}
.login-form {
    min-height: 345px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;

}
.login-form .group {
    margin-bottom: 15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
    width: 100%;
    color: #908da1;
    display: block;

}
.login-form .group .input,
.login-form .group .button {
    border: none;
    padding: 0 15px;
    border-radius: 4px;
    height: 34px;
    background: #f2f1f6;

}

.login-form .group input[data-type="password"] {
    text-security: circle;
    -webkit-text-security: circle;
}
.login-form .group .label {

    color: #908da1;
    font-size: 13px;
    margin:0 0 5px 0;

}
.login-form .group .button {
    color:#FFF;
    margin-top: 50px;
    background: #9690c5;
    transition:0.5s;

}
.login-form .group .button:hover {
    background: #7461aa;
    box-shadow:0px 5px 10px rgba(65,46,111,0.2);
    transition:0.5s;

}
.login-form .group label .icon {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    background: #f2f1f6;
    margin:0 5px -2px 0 ;

    transition:0.5s;
}
.login-form .group label .icon:before,
.login-form .group label .icon:after {
    content: "";
    width: 10px;
    height: 2px;
    background: #fff;
    position: absolute;
    transition: all 0.2s ease-in-out 0s;
}
.login-form .group label .icon:before {
    left: 3px;
    width: 4px;
    bottom: 6px;
    transform: scale(0) rotate(0);

}
.login-form .group label .icon:after {

    left: 5px;
    top: 7px;
    right: 0;
    transform: scale(0) rotate(0);
}
.login-form .group .check:checked + label{
    color:#7461aa;
}
.login-form .group .check:checked + label .icon {
    background: #7461aa;
}
.login-form .group .check:checked + label .icon:before {
    transform: scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after {
    transform: scale(1) rotate(-45deg);
}
.login-html
.sign-in:checked
+ .tab
+ .sign-up
+ .tab
+ .login-form
.sign-in-htm {
    transform: rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm {
    transform: rotate(0);
}

.hr {
    height: 1px;
    margin: 30px 0 30px 0;
    background: #f2f1f6;
}
.foot-lnk {
    text-align: center;
}
