<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 和 java mapper 的类名一样，从包名开始打，有自动补全-->
<mapper namespace="Big_project.ssm.mapper.BoardMapper">
    <!-- resultType 和 mapper 中的方法返回值一样，不能省，从包名开始打，有自动补全-->
    <!--  里面的 sql 语句，有自动补全,要配置 ide 的 datasource -->
    <select id="selectAll" resultType="Big_project.ssm.model.BoardModel">
        SELECT * FROM ssm.board
    </select>

<!--    &lt;!&ndash; 传参数方式1，直接传入一个基本类型 int，这个 int 会被绑定到 ${id} &ndash;&gt;-->
    <select id="selectOne" resultType="Big_project.ssm.model.BoardModel">
        SELECT * FROM ssm.board WHERE name = #{name}
    </select>

    <select id="selectOneall" resultType="Big_project.ssm.model.BoardModel">
        SELECT * FROM ssm.board WHERE id = #{id}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ssm.board (name) VALUES (#{name})
    </insert>
<!--    <select id="selectAllOne" resultType="BoardModel">-->
<!--        SELECT * FROM ssm.board WHERE name = #{name}-->
<!--    </select>-->

 </mapper>